<div>
	<app-page-header [heading]="'Add New Department'" [icon]="'fa-edit'"></app-page-header>
	<div class="alert alert-success" [hidden]="!departmentAdded">
		<h3>Department added successfully!</h3>
	</div>
	<div class="row">
		<div class="col-lg-6" [hidden]="departmentAdded">
			<h3 style="margin-top: 30px;">New Department Information
				<span style="font-size:small">* is a required field</span>
			</h3>
			<form role="form" (ngSubmit)="onSubmit()">
				<fieldset class="form-group">
					<label>Department Name</label>
					<input class="form-control" id="departmentName" [(ngModel)]="department.departmentName" name="departmentName" placeholder="please enter department name.">
				</fieldset>

				<button type="submit" class="btn btn-secondary">Submit Button</button>

				<button type="reset" class="btn btn-secondary">Reset Button</button>
			</form>
		</div>
	</div>
	<!-- /.row -->
</div>