<div class="container">
    <app-page-header [heading]="'Student Cart'" [icon]="'fa fa-shopping-cart'"></app-page-header>

    <div class="row">
        <div class="col-lg-10" style="padding: 10px 15px ;background-color:whitesmoke; border-color: seashell; border-style:solid">
            <div class="row">
                <div class="col-lg-4">
                    <button type="button" class="btn btn-success" routerLink="/shop-book-list">
                        < Continue Shopping</button>
                </div>
                <div class="col-lg-8">
                    <button type="button" class="btn btn-success" [disabled]="emptyCart" routerLink="/place-order">Check Out</button>
                    <!-- <button class="button-success" routerLink="/checkout">Check Out</button> -->
                </div>
            </div>
            <br/>
            <div *ngIf="emptyCart" class="alert alert-warning">
                Oops, your cart is empty.
            </div>
            <!--book section starts-->
            <div *ngIf="isBookCartEmpty">
                <div class="row">
                    <div class="col-lg-3">
                        <h4>BOOK ID</h4>
                    </div>
                    <div class="col-lg-3">
                        <h4>Book Title</h4>
                    </div>
                    <div class="col-lg-3">
                        <h4>Book Price</h4>
                    </div>
                </div>
                <div class="row" *ngFor="let selectedBook of selectedBookist">
                    <div class="col-lg-3">
                        <a md-button (click)="onSelect(selectedBook.book)">{{selectedBook?.book?.id}}</a>
                    </div>
                    <div class="col-lg-3">
                        <a md-button (click)="onSelect(selectedBook.book)">{{selectedBook?.book?.title}}</a>
                    </div>
                    <div class="col-lg-3">
                        <h5 style="color:#db3208; font-size:large;">${{selectedBook?.book?.price}}
                        </h5>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" (click)="onRemoveCartItem(selectedBook)" value="delete" class="btn btn-default btn-danger">
                            <span class="fa fa-close"></span>&nbsp;delete</button>
                    </div>
                    <div class="col-xs-2">
                        <input hidden="hidden" name="id" [(ngModel)]="selectedBook.id" />
                    </div>
                </div>
            </div>
            <!--book section ends-->
            <div *ngIf="isNotesCartEmpty">            
                <!--notes section starts-->
                <div class="row">
                    <div class="col-lg-3">
                        <h4>NOTES ID</h4>
                    </div>
                    <div class="col-lg-3">
                        <h4>Notes Title</h4>
                    </div>
                    <div class="col-lg-3">
                        <h4>Notes Price</h4>
                    </div>
                </div>
                
                <div class="row" *ngFor="let selectedNotes of selectedNotesList">
                    <div class="col-lg-3">
                        <a md-button (click)="onSelect(selectedNotes.notes)">{{selectedNotes?.notes?.id}}</a>
                    </div>
                    <div class="col-lg-3">
                        <a md-button (click)="onSelect(selectedNotes.notes)">{{selectedNotes?.notes?.title}}</a>
                    </div>
                    <div class="col-lg-3">
                        <h5 style="color:#db3208; font-size:large;">${{selectedNotes?.notes?.price}}
                        </h5>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" (click)="onRemoveCartNotesItem(selectedNotes)" value="delete" class="btn btn-default btn-danger">
                            <span class="fa fa-close"></span>&nbsp;delete</button>
                    </div>
                    
                    <div class="col-xs-2">
                        <input hidden="hidden" name="id" [(ngModel)]="selectedNotes.id" />
                    </div>
                </div>
            </div>
            <!--notes section ends-->
            <div *ngIf="isLabCartEmpty">
                <!--labs section starts-->
                <div class="row">
                    <div class="col-lg-3">
                        <h4>Lab ID</h4>
                    </div>
                    <div class="col-lg-3">
                        <h4>Lab Title</h4>
                    </div>
                    <div class="col-lg-3">
                        <h4>Lab Price</h4>
                    </div>
                </div>
                <div class="row" *ngFor="let selectedLab of selectedLabList">
                    <div class="col-lg-3">
                        <a md-button (click)="onSelect(selectedLab.lab)">{{selectedLab?.lab?.id}}</a>
                    </div>
                    <div class="col-lg-3">
                        <a md-button (click)="onSelect(selectedLab.lab)">{{selectedLab?.lab?.title}}</a>
                    </div>
                    <div class="col-lg-3">
                        <h5 style="color:#db3208; font-size:large;">${{selectedLab?.lab?.price}}
                        </h5>
                    </div>
                    <div class="col-lg-3">
                    <button type="button" (click)="onRemoveCartLabsItem(selectedLab)" value="delete" class="btn btn-default btn-danger">
                        <span class="fa fa-close"></span>&nbsp;delete</button>
                    </div>
                    <div class="col-xs-2">
                        <input hidden="hidden" name="id" [(ngModel)]="selectedLab.id" />
                    </div>
                </div>
            </div>
            <!--lab section ends-->
            <div class="row">
                <hr />
                <h4 class="col-xs-12 text-right">
                    <strong style="font-size: large">Total Price (
                        <span>{{selectedBookNumber}}</span> items): </strong>
                    <span style="color:#db3208;font-size: large">$
                        <span>{{studentCart.total}}</span>
                    </span>
                </h4>
            </div>
        </div>
    </div>
</div>