<div class="container">
	<app-page-header [heading]="'Shop Lab'" [icon]="'fa fa-shopping-cart'"></app-page-header>
   
    <div class="row">
    	<div class="col-lg-12">
    		<table class="table" [mfData]="labList | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" mfSortOrder="asc">
    			<thead>
    				<tr>
    					<th colspan="5">
    						<div class="row">
    							<div class="col-md-9">
    								Filter by Description:
    								<input class="form-control" [(ngModel)]="filterQuery" />
    							</div>
    							<div class="col-md-3">
    								Rows on page
    								<select class="form-control input-sm" [(ngModel)]="rowsOnPage">
    									<option [ngValue]="5">5</option>
    									<option [ngValue]="10">10</option>
    									<option [ngValue]="15">15</option>
    								</select>
    							</div>
    						</div>
    					</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr *ngFor = "let lab of mf.data">
    					<div class="row" style="margin-bottom: 30px;">
								
    						<div class="col-sm-2">
    							<a (click)="onSelect(lab)" style="cursor:pointer; margin-top:20px">
    								<img class="img-responsive"  style="max-height: 300px; max-width: 400px" src="{{serverPath}}/image/labs/{{lab.id}}.png" />
    							</a>
    						</div>
    						<div class="col-sm text-left" style="padding-left: 100px">
    							<h4 (click)="onSelect(lab)" style="margin-top:20px; cursor:pointer;">
										{{lab.title}}
    							</h4>
    							<p>{{lab.professor}}</p>
								<span>{{lab.itemdetails1}}</span><br />
								<span>{{lab.itemdetails2}}</span><br />
								<span>{{lab.itemdetails3}}</span><br />
								<span>{{lab.itemdetails4}}</span><br />
								<span>{{lab.itemdetails5}}</span><br />    	
    							<span style="font-size: x-large; color:#db3208">$<span>{{lab.price | number : '1.2-2'}}</span></span>
    							<p>{{lab.description | slice:0:500}}</p>
							</div>
    					</div>
    				</tr>
    			</tbody>
    			<tfoot>
    				<tr>
    					<td colspan="5">
    						<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
    					</td>
    				</tr>
    			</tfoot>
    		</table>
    	</div>
    </div>
</div>
