<div>
	<app-page-header [heading]="'Order Details'" [icon]="'fa-edit'"></app-page-header>

	<div class="row">
		<div class="col-lg-6">

			<div class="mb-3">
				<a routerLink="/order-history">
					<i class="fa fa-long-arrow-left"></i> Go Back</a>
				<span> / </span>				
			</div>
			
			<div>
				<div class="card card-success card-inverse mb-3">
					<div class="card-header card-success">
						<p>
							<strong>Order ID: </strong>{{studentOrder?.id}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Order Date: </strong>{{studentOrder?.orderDate}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Order Total: </strong>{{studentOrder?.orderTotal}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Payment Confirmation: </strong>{{studentOrder?.studentPaymentAuthorizationId}}</p>
					</div>
					<div class="row col-lg-12">
							<div class="col-lg-4">
								<h4>Products</h4>
							</div>
							<div class="col-lg-4">
								<h4>Title</h4>
							</div>
							<div class="col-lg-4">
								<h4>Price</h4>
							</div>
						</div>
			
						<div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedBook of studentOrder.selectedBookList ">
							<hr/>
							<div class="col-lg-4 text-left">
								<a (click)="onSelect(selectedBook?.book)">
									<img class="img-responsive shelf-book" src="{{serverPath}}/image/book/{{selectedBook?.book?.id}}.png" alt="Product Image" style="width:70px;"
									/>
								</a>
							</div>
							<div class="col-lg-4">
								<h5 style="color: #0b83f3; font-size: large;">{{selectedBook?.book.title}}</h5>
							</div>
							<div class="col-lg-4">
								<h5 style="color: #db3208; font-size: large;">${{selectedBook?.book.price}}</h5>
							</div>
						</div>
						<div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedNotes of studentOrder.selectedNotesList ">
							<div class="col-lg-4 text-left">
								<a (click)="onSelect(selectedNotes?.notes)">
									<img class="img-responsive" src="{{serverPath}}/image/notes/{{selectedNotes?.notes?.id}}.png" alt="Product Image" style="width:70px;" />
								</a>
							</div>
							<div class="col-lg-4">
								<h5 style="color: #db3208; font-size: large;">{{selectedNotes?.notes.title}}</h5>
								<h5>Professor</h5>                                        
								<h6 style="color: #db3208; font-size: large;">{{selectedNotes?.notes.professor}}</h6>                        
							</div>
							<div class="col-lg-4">
								<h5 style="color: #db3208; font-size: large;">${{selectedNotes?.notes.price}}</h5>
							</div>
						</div>
						<div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedLabMaterial of studentOrder.selectedLabMaterialList ">
							<div class="col-lg-4 text-left">
								<a (click)="onSelect(selectedLabMaterial?.lab)">
									<img class="img-responsive" src="{{serverPath}}/image/labs/{{selectedLabMaterial?.lab?.id}}.png" alt="Product Image" style="width:70px;" />
								</a>
							</div>
							<div class="col-lg-4">
								<h5 style="color: #db3208; font-size: large;">{{selectedLabMaterial?.lab.title}}</h5>
								<h5>Professor</h5>                                        
								<h6 style="color: #db3208; font-size: large;">{{selectedLabMaterial?.lab.professor}}</h6>                        
							</div>
							<div class="col-lg-4">
								<h5 style="color: #db3208; font-size: large;">${{selectedLabMaterial?.lab.price}}</h5>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>