<div>
	<app-page-header [heading]="'Update Profile'" [icon]="'fa-edit'"></app-page-header>

	<div class="row">
		<div class="col-lg-6">
			<div style="margin-top: 20px;">
				<div class="alert alert-danger" *ngIf="incorrectPassword">
					<strong>Incorrect Password!</strong> Please enter the correct password for the current user.
				</div>
				<div class="alert alert-success" [hidden]="!updateSuccess">
					<strong>Update Success!</strong>
				</div>
			</div>
			<div [hidden]="updateSuccess">
				<form role="form" (ngSubmit)="onUpdateStudentDetails()">
					<fieldset class="form-group">
						<label>First Name</label>
						<input class="form-control" id="firstName" [(ngModel)]="student.firstName" name="firstName" placeholder="please enter your first name.">
					</fieldset>

					<fieldset class="form-group">
						<label>Last Name</label>
						<input class="form-control" name="lastName" id="lastName" [(ngModel)]="student.lastName" placeholder="please enter last name.">
					</fieldset>

					<fieldset class="form-group">
						<label>Email</label>
						<input class="form-control" name="emailId" id="emailId" [(ngModel)]="student.emailId" placeholder="please enter email.">
					</fieldset>

					<fieldset class="form-group">
						<label>User Name</label>
						<input class="form-control" name="userName" id="userName" [(ngModel)]="student.userName" placeholder="please enter user name.">
					</fieldset>

					<fieldset class="form-group">
						<label>Phone</label>
						<input class="form-control" name="phone" id="phone" [(ngModel)]="student.phone" placeholder="please enter contact number.">
					</fieldset>
					<button md-raised-button type="submit" class="btn mat-primary">Update Profile</button>
				</form>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>