<div>
		<app-page-header [heading]="'Edit Notes'" [icon]="'fa-edit'"></app-page-header>
	
		<div class="row">
			<div class="col-lg-6" [hidden]="notesUpdated">
	
				<form role="form" (ngSubmit)="onSubmit()">
					<fieldset class="form-group">
						<label>Notes Title</label>
						<input class="form-control" id="title" [(ngModel)]="notes.title" name="title" placeholder="please enter book title">
					</fieldset>
	
					<fieldset class="form-group">
						<label>Department</label>
						<br/>
						<select name="departmentName" class="form-control" [(ngModel)]="department.id" id="departmentName">
							<!-- <option value="1">Information Technology and Management</option>
							<option value="2">Computer Science</option> -->
							<option *ngFor="let department of departmentList" [value]="department.id" >{{department.departmentName}}
							</option>
						</select>
					</fieldset>
	
					<fieldset class="form-group">
						<label>Course</label>
						<br/>
						<select name="courseName" class="form-control" [(ngModel)]="course.id" id="courseName">
							<!-- <option value="1">Advanced Software Development</option>
							<option value="2">Advanced Web System Integration</option> -->
							<option *ngFor="let course of courseList" [value]="course.id">{{course.courseName}}
							</option>
	
						</select>
					</fieldset>
	
					<fieldset class="form-group">
						<label>Professor</label>
						<input class="form-control"  name="professor" id="professor" [(ngModel)]="notes.professor" placeholder="please enter professor name">
					</fieldset>
	
					<fieldset class="form-group">
						<label>Item Details 1</label>
						<input class="form-control" name="notesdetails1" id="notesdetails1" [(ngModel)]="notes.notesdetails1" placeholder="please enter note details">
					</fieldset>
	
					<fieldset class="form-group">
						<label>Item Details 2</label>
						<input class="form-control" name="notesdetails2" id="notesdetails2" [(ngModel)]="notes.notesdetails2" placeholder="please enter note details">
					</fieldset>

					<fieldset class="form-group">
						<label>Item Details 3</label>
						<input class="form-control" name="notesdetails3" id="notesdetails3" [(ngModel)]="notes.notesdetails3" placeholder="please enter note details">
					</fieldset>
	
					<fieldset class="form-group">
						<label>Notes Description/Comments</label>
						<textarea class="form-control" name="description" id="description" [(ngModel)]="notes.description" rows="3" placeholder="please enter additional notes"></textarea>
					</fieldset>
	
					<fieldset class="form-group">
						<label for="notes-image">Image</label>
						<input type="file"  name="notes-image" (change)="uploadImageService.fileChangeEvent($event)" class="form-control-file" id="notes-image">
					</fieldset>
	
					<div class="form-group input-group">
						<span class="input-group-addon">
							<i class="fa fa-usd"></i>
						</span>
						<input type="text" name="price" id="price" class="form-control" [(ngModel)]="notes.price" placeholder="Font Awesome Icon">
					</div>
	
					<button type="submit" class="btn btn-secondary">Submit Button</button>
	
					<button type="reset" class="btn btn-secondary">Reset Button</button>
				</form>
			</div>
			<div class="alert alert-success"  [hidden]="!notesUpdated">
				<strong>Success!</strong> You just updated the notes!
			</div>
		</div>
		<!-- /.row -->
	</div>