<div>
	<app-page-header [heading]="'Add New Course'" [icon]="'fa-edit'"></app-page-header>
	<div class="alert alert-success" [hidden]="!courseAdded">
		<h3>Course added successfully!</h3>
	</div>
	<div class="row">
		<div class="col-lg-6" [hidden]="courseAdded">
			<h3 style="margin-top: 30px;">New Course Information
				<span style="font-size:small">* is a required field</span>
			</h3>
			<form role="form" (ngSubmit)="onSubmit()">
				<fieldset class="form-group">
					<label>Course Name</label>
					<input class="form-control" id="courseName" [(ngModel)]="course.courseName" name="courseName" placeholder="please enter department name.">
				</fieldset>

				<button type="submit" class="btn btn-secondary">Submit Button</button>

				<button type="reset" class="btn btn-secondary">Reset Button</button>
			</form>
		</div>
	</div>
	<!-- /.row -->
</div>