<div>
	<app-page-header [heading]="'Add Book'" [icon]="'fa-edit'"></app-page-header>
	<div class="alert alert-success" [hidden]="!bookAdded">
		<h3>Book added successfully!</h3>
	</div>
	<div class="row">
		<div class="col-lg-6" [hidden]="bookAdded">
			<h3 style="margin-top: 30px;">New Book Information
				<span style="font-size:small">* is a required field</span>
			</h3>
			<form role="form" (ngSubmit)="onSubmit()">
				<fieldset class="form-group">
					<label>Book Title</label>
					<input class="form-control" id="title" [(ngModel)]="newBook.title" name="title" placeholder="please enter book title">
				</fieldset>

				<fieldset class="form-group">
					<label>Department</label>
					<br/>
					<!-- <department-list>Loading....</department-list> -->
					<select name="departmentName" class="form-control" [(ngModel)]="department.id" id="departmentName">
						<!-- <option value="1">Information Technology and Management</option>
						<option value="2">Computer Science</option> -->
						<option *ngFor="let department of departmentList" [value]="department.id">{{department.departmentName}}
						</option>
					</select>
				</fieldset>

				<fieldset class="form-group">
					<label>Course</label>
					<br/>
					<!-- <department-list>Loading....</department-list> -->
					<select name="courseName" class="form-control" [(ngModel)]="course.id" id="courseName">
						<!-- <option value="1">Advanced Software Development</option>
						<option value="2">Advanced Web System Integration</option> -->
						<option *ngFor="let course of courseList" [value]="course.id">{{course.courseName}}
						</option>

					</select>
				</fieldset>

				<fieldset class="form-group">
					<label>Author</label>
					<input class="form-control" name="author" id="author" [(ngModel)]="newBook.author" placeholder="please enter author name">
				</fieldset>

				<fieldset class="form-group">
					<label>Publisher</label>
					<input class="form-control" name="publisher" id="publisher" [(ngModel)]="newBook.publisher" placeholder="please enter publisher">
				</fieldset>

				<fieldset class="form-group">
					<label>Book Edition</label>
					<input class="form-control" name="edition" id="edition" [(ngModel)]="newBook.edition" placeholder="please enter book edition">
				</fieldset>

				<fieldset class="form-group">
					<label>Book Description/Comments</label>
					<textarea class="form-control" name="description" id="description" [(ngModel)]="newBook.description" rows="3" placeholder="please enter additional notes"></textarea>
				</fieldset>

				<fieldset class="form-group">
					<label for="book-image">Image</label>
					<input type="file" name="book-image" (change)="uploadImageService.fileChangeEvent($event)" class="form-control-file" id="book-image">
				</fieldset>

				<div class="form-group input-group">
					<span class="input-group-addon">
						<i class="fa fa-usd"></i>
					</span>
					<input type="text" name="price" id="price" class="form-control" [(ngModel)]="newBook.price" placeholder="Font Awesome Icon">
				</div>

				<button type="submit" class="btn btn-secondary">Submit Button</button>

				<button type="reset" class="btn btn-secondary">Reset Button</button>
			</form>
		</div>
	</div>
	<!-- /.row -->
</div>